// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Color Variables
//  ---------------------------------------------
:root {
  --brightness: #FFFFFF;
  --lightness: #b3b3b3;
  --highlight: #6b6b6b;
  --midtone: #022354;
  --shadow: #333333;
  --darkness: #000000;
  
  --cta: #022354;
  --cta-hover: #001743;
  --error: #fd8e8f;
  --root-font: 'Exo', sans-serif;
  --root-font-2: 'Open Sans', sans-serif;
  --root-font-3: 'Montserrat', sans-serif;

  --backgrounds: #f1f3f4;

  --viewport: 1164px;

  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extrabold: 800;
  --black: 900;

  --cubic: cubic-bezier(.42, 0, .58, 1);

  --colorextra: #44a496;

  --gradient-light: linear-gradient(90deg, #1d71b8 0%, #6cd9c8 100%);
  --gradient-dark: linear-gradient(90deg, var(--cta-hover) 0%, var(--cta) 100%);
  --gradient-dark-hover: linear-gradient(to right, var(--cta), #1d71b8, var(--cta-hover));
  --gradient-light-hover: linear-gradient(to right, #1d71b8, #6cd9c8, #022354);
}


//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: var(--root-font);
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;