<div class="footer-wrap">

  <!-- Row 1 
  <div class="footer-row row -one">
    <a class="siga-instagram" href="https://www.instagram.com/conexiaeducacao/" target="_blank"><svg class="ico"><use xlink:href="#instagram"></use></svg><span>Siga nosso instagram e fique por dentro das nossas atividades</span></a>
  </div>--> 


  <!-- Row 2 --> 
  <div class="footer-row row -two">  
    <!-- Grid de Imagens --> 
    <div class="box-img-footer">
      <img is="lazy-loadable"
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        loading="lazy" 
        lazyload="1" 
        importance="low"
        src="<?php echo $block->getViewFileUrl('/images/grid-img-footer1.png'); ?>"
        width="259" 
        height="259"
        alt="Imagem footer"
        onerror="this.onerror=null; this.src='<?php echo $block->getViewFileUrl('/images/grid-img-footer1.png'); ?>'"
      >
      <img is="lazy-loadable"
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        loading="lazy" 
        lazyload="1" 
        importance="low"
        src="<?php echo $block->getViewFileUrl('/images/grid-img-footer3.png'); ?>"
        width="312" 
        height="312"
        alt="Imagem footer"
        onerror="this.onerror=null; this.src='<?php echo $block->getViewFileUrl('/images/grid-img-footer3.png'); ?>'"
      >
      <img is="lazy-loadable"
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        loading="lazy" 
        lazyload="1" 
        importance="low"
        src="<?php echo $block->getViewFileUrl('/images/grid-img-footer2.png'); ?>"
        width="259" 
        height="259"
        alt="Imagem footer"
        onerror="this.onerror=null; this.src='<?php echo $block->getViewFileUrl('/images/grid-img-footer2.png'); ?>'"
      >
      <img is="lazy-loadable"
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        loading="lazy" 
        lazyload="1" 
        importance="low"
        src="<?php echo $block->getViewFileUrl('/images/grid-img-footer4.png'); ?>"
        width="311" 
        height="311"
        alt="Imagem footer"
        onerror="this.onerror=null; this.src='<?php echo $block->getViewFileUrl('/images/grid-img-footer4.png'); ?>'"
      >
    </div>
  </div>

  <!-- Row 3 --> 
  <div class="footer-row row -three">  
    <div class="logo-grupo">
      <img
        src="<?php echo $block->getViewFileUrl('/images/logo-branca.png'); ?>"
        width="304" 
        height="92"
        alt="Logo Conexia"
        onerror="this.onerror=null; this.src='<?php echo $block->getViewFileUrl('/images/logo-branca.png'); ?>'"
      >
    </div>
  </div>


  <!-- Row 4 --> 
  <div class="footer-row row -four">

    <!-- Institucional --> 
    <div class="footer-institucional -institucional footer-column column">
      <div class="title">Institucional</div>
      <ul class="mymenu-list list ul--0">
        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0"  target="_blank" href="https://www.conexia.com.br">Nossa Empresa</a>
        </li>
        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" href="/politica-de-privacidade">Política de Privacidade</a>
        </li>
        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" target="_blank" href="https://ajuda.conexia.com.br/hc/pt-br/categories/360004793654-Loja-Conexia">Fale Conosco</a>
        </li>
      </ul>
    </div>

    <!-- Ajuda --> 
    <div class="footer-ajuda -ajuda footer-column column">
      <div class="title">Ajuda</div>
      <ul class="mymenu-list list ul--0">
        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" target="_blank" href="https://ajuda.conexia.com.br/hc/pt-br/articles/360059484833-OP%C3%87%C3%95ES-DE-PAGAMENTO">Formas de Pagamento</a>
        </li>

        <li class="mymenu-item item li--0">
          <div class="text-item">Trocas e Devoluções:</div>
          <ul class="ul--1 list--1">
            <li><a class="menu-link link a--1" target="_blank" href="https://ajuda.conexia.com.br/hc/pt-br/articles/360057634914-Quero-Trocar-Cancelar-ou-Devolver-o-meu-Produto-B2B-Pessoa-Jur%C3%ADdica-">Para Escola</a></li>
            <li><a class="menu-link link a--1" target="_blank" href="https://ajuda.conexia.com.br/hc/pt-br/articles/360058009854-Quero-Trocar-Cancelar-ou-Devolver-o-meu-Produto-B2C-Pessoa-F%C3%ADsica-">Para Responsáveis</a></li>
          </ul>
        </li>

        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" target="_blank" href="https://ajuda.conexia.com.br/hc/pt-br/articles/360057633714-Fretes-e-Entregas">Fretes e Entregas</a>
        </li>
      </ul>
    </div>

    

    <!-- Minha Conta --> 
    <div class="footer-minhaconta -minhaconta footer-column column"">
      <div class="title">Minha Conta</div>
      <ul class="mymenu-list list ul--0">
        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" href="/customer/account/login/">Login</a>
        </li>

        <li class="mymenu-item item li--0">
          <a class="menu-link link a--0" href="/sales/order/history/">Meus Pedidos</a>
        </li>
      </ul>
    </div>

  

    <!-- Formas de Pagamento --> 
    <div class="formas-pagamento pagto footer-column column">
      <div class="title">Formas de Pagamento</div>
      <div class="img">
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/visa.png'); ?>"
          class="pagto visa"
          width="102" 
          height="34" 
          alt="Visa"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/mastercard.png'); ?>"
          class="pagto mastercard"
          width="55" 
          height="34" 
          alt="Mastercard"
        >
        
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/elo.png'); ?>"
          class="pagto elo"
          width="85" 
          height="34" 
          alt="Elo"
        >
        <!--
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/hiper.png'); ?>"
          class="pagto hiper"
          width="43" 
          height="34" 
          alt="Hiper"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/hipercard.png'); ?>"
          class="pagto hipercard"
          width="78" 
          height="34" 
          alt="Hipercard"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/jcb.png'); ?>"
          class="pagto jcb"
          width="46" 
          height="34" 
          alt="Jcb"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/banescard.png'); ?>"
          class="pagto banescard"
          width="57" 
          height="34" 
          alt="Banescard"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/aura.png'); ?>"
          class="pagto aura"
          width="52"
          height="34" 
          alt="Aura"
        >
        -->
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/american.png'); ?>"
          class="pagto american"
          width="124" 
          height="34" 
          alt="American Express"
        >
        <img is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/boleto.png'); ?>"
          class="pagto boleto"
          width="42" 
          height="34" 
          alt="Boleto"
        >
        
      </div>
    </div>

    
    
    <!-- Redes Sociais --> 
    <div class="socials-container -socials footer-column column">
      <div class="title">Redes Sociais</div>
      <ul class="social-list list">
        <li class="social-item item"><a title="Facebook - Conexia" class="social-link" rel="noopener" target="_blank" href="https://www.facebook.com/conexiaeducacao/"><svg class="ico"><use xlink:href="#facebook"></use></svg></a></li>
        <li class="social-item item"><a title="Instagram - Conexia" class="social-link"  rel="noopener"target="_blank" href="https://www.instagram.com/conexiaeducacao/"><svg class="ico"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="social-item item"><a title="Youtube - Conexia" class="social-link"  rel="noopener" target="_blank" href="https://www.youtube.com/channel/UC39HCDe6g3Og3I6hajdlIZQ"><svg class="ico"><use xlink:href="#youtube"></use></svg></a></li>
      </ul>
    </div>

    <!-- Seguranca --> 
    <div class="formas-seguranca seguranca footer-column column">
      <div class="title">Segurança</div>
      <div class="img">
        <a  class="link" href="https://comodosslstore.com/ssltools/ssl-checker.php" target="_blank" rel="noopener">
          <img  is="lazy-loadable"
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          loading="lazy" 
          lazyload="1" 
          importance="low"
          src="<?php echo $block->getViewFileUrl('images/comodo.png'); ?>"
          class="selo comodo"
          width="144" 
          height="45" 
          alt="Comodo"
        >
        </a> 
      </div>
    </div>

  </div>
</div>
